openapi: 3.2.0
info:
  title: Adobe Analytics 2.0 API. Component migration API
  description: "Adobe Analytics 2.0 Component Migration. Migrate components from Adobe Analytics to Customer Journey Analytics (AA to CJA).\n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  version: '1.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Component migration
  description: API Methods for migrating projects with components from Adobe Analytics to Customer Journey Analytics
paths:
  /projects/{projectId}/summary:
    get:
      tags:
      - Component migration
      summary: Retrieve project summary
      description: Retrieve summary for specified project ID
      operationId: summary_1
      parameters:
      - name: projectId
        in: path
        description: The project ID to be moved to CJA
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project migration summary retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationEventStatusEntity'
      security:
      - x-gw-ims-org-id: []
      - x-proxy-global-company-id: []
      - x-user-auth: []
  /projects/bulk/migrate:
    post:
      tags:
      - Component migration
      summary: Create project migration
      description: Create bulk project migration for specified project IDs
      operationId: bulkMigrate_1
      responses:
        '200':
          description: Projects migrated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerResponse'
      security:
      - x-gw-ims-org-id: []
      - x-proxy-global-company-id: []
      - x-user-auth: []
  /projects/bulk/status:
    get:
      tags:
      - Component migration
      summary: Retrieve bulk migration projects status
      description: Retrieve statuses for specified project IDs
      operationId: RetrieveBulkProjectStatus_1
      responses:
        '200':
          description: Bulk project migration statuses retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IMigrationEvent'
      security:
      - x-gw-ims-org-id: []
      - x-proxy-global-company-id: []
      - x-user-auth: []
components:
  schemas:
    IMigrationEvent:
      properties:
        cjaId:
          type: string
        aaId:
          type: string
        migrationStatus:
          type: string
          enum:
          - STARTED
          - COMPLETED
          - FAILED
        migratedTime:
          type: string
          format: date-time
        type:
          type: string
        globalCompanyId:
          type: string
        imsOrgId:
          type: string
    ControllerResponse:
      properties:
        result:
          type: string
          enum:
          - success
          - failure
          - partialSuccess
        method:
          type: string
        message:
          type: string
    MigrationEventStatusEntity:
      properties:
        imsUserName:
          type: string
        cjaName:
          type: string
        aaName:
          type: string
        type:
          type: string
        result:
          type: object
          properties:
            empty:
              type: boolean
          additionalProperties:
            type: object
        cjaId:
          type: string
        rsidDataIdMap:
          type: object
          additionalProperties:
            type: string
        aaId:
          type: string
        migratorLogin:
          type: string
        migratorName:
          type: string
        migrationStatus:
          type: string
          enum:
          - STARTED
          - COMPLETED
          - FAILED
        id:
          type: string
          format: uuid
        imsUserId:
          type: string
        migratedTime:
          type: string
          format: date-time
        globalCompanyId:
          type: string
        imsOrgId:
          type: string
  securitySchemes:
    x-service-auth:
      type: apiKey
      description: IMS service token
      name: x-service-auth
      in: header
    x-gw-ims-org-id:
      type: apiKey
      description: Gateway IMS Org ID
      name: x-gw-ims-org-id
      in: header
    x-proxy-global-company-id:
      type: apiKey
      description: Global Company ID
      name: x-proxy-global-company-id
      in: header
    x-user-auth:
      type: apiKey
      description: IMS user token
      name: x-user-auth
      in: header
