openapi: 3.2.0
info:
  title: Adobe Analytics 2.0 Component Migration API.
  description: Adobe Analytics 2.0 Component Migration.
  version: '1.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Metrics mappings
  description: Methods to map Analytics metrics to CJA data views within an XDM schema
paths:
  /mapping/metrics/csv:
    get:
      tags:
      - Metrics mappings
      summary: Retrieve metrics mappings as CSV file
      description: Retrieve metrics mappings for specified *rsid* and *dataId*
      operationId: getMappingsAsCSV_3
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      - name: metricIds
        in: query
        description: Filter list to include metrics mappings for only the specified comma-delimited list of metric IDs
        schema:
          type: string
      responses:
        '200':
          description: Dimensions mappings retrieved successfully
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/Response'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
    put:
      tags:
      - Metrics mappings
      summary: Update metrics mappings with CSV file
      description: Update CSV file of metrics mappings for specified *rsid* and *dataId*
      operationId: updateMappingByCSV_3
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
      responses:
        '200':
          description: Metrics mappings updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingDto'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
    post:
      tags:
      - Metrics mappings
      summary: Create metrics mappings with CSV file
      description: Upload CSV file of metrics mappings to override existing mappings for specified *rsid* and *dataId*
      operationId: createMappingByCSV_3
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
      responses:
        '200':
          description: Metrics mappings created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingDto'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
  /mapping/metrics/all:
    delete:
      tags:
      - Metrics mappings
      summary: Delete all metrics mappings
      description: Delete all metrics mappings for the specified report suite and data view IDs. If there are no mappings, this will return a successful response.
      operationId: deleteAllMappings_3
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      responses:
        '200':
          description: All metrics mapping deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteControllerResponse'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
components:
  schemas:
    FieldMappingDto:
      properties:
        cjaId:
          type: string
        dataId:
          type: string
        xdmMapped:
          type: boolean
        aaId:
          type: string
        rsid:
          type: string
        xdmNotes:
          type: string
    Response:
      type: string
      format: binary
    DeleteControllerResponse:
      properties:
        result:
          type: string
          enum:
          - success
          - failure
          - partialSuccess
        method:
          type: string
        message:
          type: string
  securitySchemes:
    x-service-auth:
      type: apiKey
      description: IMS service token
      name: x-service-auth
      in: header
    x-gw-ims-org-id:
      type: apiKey
      description: Gateway IMS Org ID
      name: x-gw-ims-org-id
      in: header
    x-proxy-global-company-id:
      type: apiKey
      description: Global Company ID
      name: x-proxy-global-company-id
      in: header
    x-user-auth:
      type: apiKey
      description: IMS user token
      name: x-user-auth
      in: header
