openapi: 3.2.0
info:
  title: Adobe Analytics 2.0 Data Feed API.
  description: 'Adobe Analytics Data Feed API 2.0


    Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning.'
  version: v2
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Datafeed API
  description: API to create, update and retrieve datafeed with a user token
paths:
  /{globalCompanyId}/data_feeds/datafeed:
    post:
      tags:
      - Datafeed API
      summary: Create datafeed
      description: '**Required fields are:**


        - feedName: Name of the datafeed

        - rsid: Report suite String identifier

        - columnPreset: Column preset identifier

        - schedule.startDate: Start date of the schedule in ISO 8601 format

        - delivery.cloudLocationUUID: Cloud storage location UUID

        - delivery.notificationEmail: List of notification email addresses


        **Optional fields and defaults are:**


        - feedState: State of the datafeed [created, hold, active(default)]

        - dynamicLookups: Boolean to enable/disable dynamic lookups [true, false(default)]

        - replaceEscapedChars: Boolean to enable/disable replacing escaped characters [true, false(default)]

        - schedule.interval: Delivery interval [daily, hourly(default)]

        - schedule.delay: Integer representing the delay in processing in minutes 0 to 9999 (default=0)

        - packaging.type: String representing the packaging type [flat, chunked(default)]

        - packaging.chunkSize: Integer representing the chunk size in MB [1024, 2048(default), 4096]

        - packaging.compression: String representing the compression type [zip, gzip(default)]

        - packaging.manifest: String representing the manifest type [no-file, fin-file, manifest-file(default)]

        - packaging.noDataManifest: Boolean to enable/disable no data manifest [true, false(default)]

        - lateHits.enabled: Boolean to enable/disable late hits [true, false(default)]

        - lateHits.lookback: Integer representing the lookback period in hours [0 to 26280 (default = 0)]


        **Example 1 with only required fields:**


        ```json

        {

        "feedName": "ExampleFeed1",

        "rsid": "example-rsid",

        "columnPreset": 1,

        "schedule": {

        "startDate": "2024-01-01T00:00:00Z"

        },

        "delivery": {

        "cloudLocationUUID": "your-location-uuid",

        "notificationEmail": ["test@example.com"]

        }

        }

        ```


        **Example 2 with required and optional fields:**


        ```json

        {

        "feedName": "ExampleFeed2",

        "rsid": "example-rsid",

        "feedState": "active",

        "columnPreset": 1,

        "notes": "Example feed",

        "dynamicLookups": true,

        "replaceEscapedChars": false,

        "schedule": {

        "startDate": "2025-06-01T00:00:00Z",

        "endDate": "2026-12-31T23:59:59Z",

        "interval": "hourly",

        "delay": 100

        },

        "packaging": {

        "type": "chunked",

        "chunkSize": 4096,

        "compression": "gzip",

        "manifest": "manifest-file",

        "noDataManifest": true

        },

        "delivery": {

        "cloudLocationUUID": "your-location-uuid",

        "notificationEmail": ["test@example.com"]

        },

        "lateHits": {

        "enabled": true,

        "lookback": 1000

        }

        }

        ```'
      operationId: create_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFeedCreateBody_User'
      responses:
        '400':
          description: Bad Request - Unable to create Datafeed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '409':
          description: Datafeed already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while creating datafeed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
  /{globalCompanyId}/data_feeds/datafeed/{feedId}:
    get:
      tags:
      - Datafeed API
      summary: Get datafeed by ID
      operationId: get_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while retrieving datafeed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedExtendedView'
    put:
      tags:
      - Datafeed API
      summary: Update datafeed
      description: 'This endpoint allows updating specific fields of an existing datafeed.


        **Fields that can be updated:**


        - columnPreset: Integer value representing the column preset.

        - notes: String field to add notes about the datafeed.

        - dynamicLookups: Boolean to enable/disable dynamic lookups.

        - replaceEscapedChars: Boolean to enable/disable replacing escaped characters.

        - schedule.endDate: String representing the end date of the datafeed.

        - schedule.delay: Integer representing the delay in minutes.

        - delivery.cloudLocationUUID: UUID string of the delivery location.

        - delivery.notificationEmail: List of strings representing notification email addresses.

        - lateHits.enabled: Boolean to enable/disable late hits.

        - lateHits.lookback: Integer representing the lookback period in hours.

        - packaging.type: String representing the packaging type (e.g., ''flat'', ''chunked'').

        - packaging.compression: String representing the compression type (e.g., ''gzip'', ''zip'').

        - packaging.chunkSize: Integer representing the chunk size in MB.

        - packaging.manifest: String representing the manifest type (e.g., ''no-file'', ''fin-file'', ''manifest-file'').

        - packaging.noDataManifest: Boolean to enable/disable no data manifest.


        **Example request body:**


        ```json

        {

        "columnPreset": 0,

        "notes": "string",

        "dynamicLookups": true,

        "replaceEscapedChars": true,

        "metadata": {

        "feedId": 0,

        "feedState": "string"

        },

        "schedule": {

        "startDate": "string",

        "endDate": "string",

        "interval": "string",

        "delay": 0

        },

        "packaging": {

        "type": "string",

        "chunkSize": 0,

        "compression": "string",

        "manifest": "string",

        "noDataManifest": true

        },

        "delivery": {

        "cloudLocationUUID": "string",

        "notificationEmail": [

        "string"

        ]

        },

        "lateHits": {

        "enabled": true,

        "lookback": 0

        }

        }

        ```'
      operationId: update_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFeedUpdateBody_User'
      responses:
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '400':
          description: Bad Request - Unable to update Datafeed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while updating datafeed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
  /{globalCompanyId}/data_feeds/datafeed/{feedId}/status:
    put:
      tags:
      - Datafeed API
      summary: Update datafeed status
      operationId: updateStatus_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: 'Valid values: active, canceled and hold'
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '400':
          description: Bad Request - Unable to update Datafeed status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while updating datafeed status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed status updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
  /{globalCompanyId}/data_feeds/datafeeds:
    get:
      tags:
      - Datafeed API
      summary: Gets datafeeds for a report suite
      operationId: getDataFeedsForReportSuite_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: rsid
        in: query
        description: The report suite ID
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Datafeeds not found for rsid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '400':
          description: Bad Request - Unable to get Datafeed(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while retrieving datafeeds for rsid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeeds for report suite retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedList'
  /{globalCompanyId}/data_feeds/datafeeds/search:
    post:
      tags:
      - Datafeed API
      summary: Gets datafeeds for an array of report suite
      operationId: getDataFeedsForReportSuites_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportSuiteList_User'
      responses:
        '400':
          description: Bad Request - Unable to get Datafeed(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeeds not found for rsids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while retrieving datafeeds for rsids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeeds for multiple report suite retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedList'
  /{globalCompanyId}/data_feeds/datafeed/requests:
    get:
      tags:
      - Datafeed API
      summary: Gets datafeed requests for a report suite and feed ID
      description: If no dates are provided, the API will return the latest datafeed requests.
      operationId: getDataFeedRequestsForFeed_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: rsid
        in: query
        description: The report suite ID
        required: true
        schema:
          type: string
      - name: feedId
        in: query
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: Filters for Datafeed requests on or after the specified datetime
        schema:
          type: string
      - name: endDate
        in: query
        description: Filters for Datafeed requests on or before the specified datetime
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of records to return. Max value allowed is 5000. Defaults to 500.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Number of records to skip for pagination. Defaults to 0.
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - Unable to get Datafeed requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeed requests not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while retrieving datafeed requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed requests retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedRequestListView'
  /{globalCompanyId}/data_feeds/datafeed/requests/search:
    post:
      tags:
      - Datafeed API
      summary: Gets datafeed requests
      description: 'This endpoint allows searching for datafeed requests using various filtering criteria.


        The request body supports the following fields:


        - rsids **[Required]:** One or more report suite IDs to filter the search.


        - feedIds **[Required]**: One or more datafeed IDs to filter the search.


        - requestStates: Filter by request states [created, processing, completed].


        - billingCustomerId: Filter by billing customer ID.


        - useUtc: Indicates whether the date filters should use UTC (default=false).


        ***Pagination:***


        - limit: Maximum number of results to return (default=100).


        - offset: Offset for pagination (default=0).


        ***Sorting:***


        - sortOrder: ''asc'' or ''desc'' (default=''desc'').


        - orderBy: Field to sort by (first_run_date, complete_date, req_period_begin_utc ).


        ***Date Filters:*** Dates must be in ISO 8601 format with timezone (yyyy-MM-dd''T''HH:mm:ssXXX) or UTC (yyyy-MM-ddTHH:mm:ssZ):


        - minRequestPeriodStartDate, maxRequestPeriodStartDate: Filter by request period start date range.


        - minAttemptDate, maxAttemptDate: Filter by attempt date range.


        - minCompletionDate, maxCompletionDate: Filter by completion date range.


        - minSubmittedDate, maxSubmittedDate: Filter by submission date range.


        **Example request body:**


        ```json

        {

        "rsids": [

        "inttest"

        ],

        "feedIds": [

        6, 7

        ],

        "requestStates": [

        "created", "processing", "completed"

        ],

        "limit": 10,

        "offset": 0,

        "sortOrder": "desc",

        "minRequestPeriodStartDate": "2023-05-21T08:00:00Z",

        "maxRequestPeriodStartDate": "2023-07-21T08:10:00Z"

        }

        ```'
      operationId: getDataFeedRequests_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataFeedRequestsSearchBody'
      responses:
        '404':
          description: Datafeed requests not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '400':
          description: Bad Request - Unable to get Datafeed requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while retrieving datafeed requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: Datafeed requests retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedRequestListView'
components:
  schemas:
    DataFeedRequestView:
      type: object
      properties:
        rsid:
          type: string
        feedId:
          type: integer
          format: int32
        feedName:
          type: string
        feedState:
          type: string
        requestId:
          type: integer
          format: int64
        submittedDate:
          type: string
        runCount:
          type: integer
          format: int32
        runAttempt:
          type: string
        completeDate:
          type: string
        requestPeriodBegin:
          type: string
        requestPeriodEnd:
          type: string
        requestState:
          type: string
        useUTC:
          type: integer
          format: int32
        errorCode:
          type: integer
          format: int32
        errorMsg:
          type: string
        timezone:
          type: string
    Packaging_User:
      type: object
      properties:
        type:
          type: string
        chunkSize:
          type: integer
          format: int32
        compression:
          type: string
        manifest:
          type: string
        noDataManifest:
          type: boolean
    DataFeedRequestsSearchBody:
      type: object
      properties:
        rsids:
          type: array
          items:
            type: string
        feedIds:
          type: array
          items:
            type: integer
            format: int32
        requestStates:
          type: array
          items:
            type: string
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        sortOrder:
          type: string
        orderBy:
          type: string
        billingCustomerId:
          type: integer
          format: int32
        useUtc:
          type: boolean
        minRequestPeriodStartDate:
          type: string
        maxRequestPeriodStartDate:
          type: string
        minAttemptDate:
          type: string
        maxAttemptDate:
          type: string
        minCompletionDate:
          type: string
        maxCompletionDate:
          type: string
        minSubmittedDate:
          type: string
        maxSubmittedDate:
          type: string
    Delivery_User:
      type: object
      properties:
        cloudLocationUUID:
          type: string
        notificationEmail:
          type: array
          items:
            type: string
    LegacyTransportConfig:
      type: object
      properties:
        transportId:
          type: integer
          format: int64
        protocol:
          type: string
        hostname:
          type: string
        port:
          type: integer
          format: int32
        directoryPath:
          type: string
        prefix:
          type: string
        skipRename:
          type: boolean
        bucket:
          type: string
        container:
          type: string
        accountName:
          type: string
        projectId:
          type: string
        exportLocationId:
          type: string
    DataFeedRequestListView:
      properties:
        offset:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataFeedRequestView'
        limit:
          type: integer
          format: int32
    UpdateMetadata_User:
      type: object
      properties:
        feedId:
          type: integer
          format: int32
        feedState:
          type: string
      description: Metadata for the DataFeedUpdateBody
    Packaging:
      type: object
      properties:
        type:
          type: string
        chunkSize:
          type: integer
          format: int32
        compression:
          type: string
        manifest:
          type: string
        noDataManifest:
          type: boolean
    DataFeedCreateBody_User:
      required:
      - columnPreset
      - delivery
      - feedName
      - rsid
      - schedule
      type: object
      properties:
        feedName:
          type: string
        rsid:
          type: string
        feedState:
          type: string
        columnPreset:
          type: integer
          format: int32
        notes:
          type: string
        dynamicLookups:
          type: boolean
        replaceEscapedChars:
          type: boolean
        schedule:
          $ref: '#/components/schemas/Schedule_User'
        packaging:
          $ref: '#/components/schemas/Packaging_User'
        delivery:
          $ref: '#/components/schemas/Delivery_User'
        lateHits:
          $ref: '#/components/schemas/LateHits_User'
    Metadata:
      type: object
      properties:
        feedId:
          type: integer
          format: int32
        feedState:
          type: string
        timeZone:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
        modifiedBy:
          type: string
        modificationDate:
          type: string
      description: Metadata for DataFeedView
    Delivery:
      type: object
      properties:
        cloudLocationUUID:
          type: string
        notificationEmail:
          type: array
          items:
            type: string
    Schedule:
      type: object
      properties:
        startDate:
          type: string
        endDate:
          type: string
        interval:
          type: string
        delay:
          type: integer
          format: int32
    Schedule_User:
      type: object
      properties:
        startDate:
          type: string
        endDate:
          type: string
        interval:
          type: string
        delay:
          type: integer
          format: int32
    LateHits_User:
      type: object
      properties:
        enabled:
          type: boolean
        lookback:
          type: integer
          format: int32
    AnalyticsAsrErrorResponse:
      properties:
        errorDescription:
          type: string
        errorCode:
          type: string
        errorId:
          type: string
    DataFeedExtendedView:
      properties:
        dynamicLookups:
          type: boolean
        schedule:
          $ref: '#/components/schemas/Schedule'
        delivery:
          $ref: '#/components/schemas/Delivery'
        columnPreset:
          type: integer
          format: int32
        notes:
          type: string
        feedName:
          type: string
        extendedMetadata:
          $ref: '#/components/schemas/ExtendedMetadata'
        rsid:
          type: string
        lateHits:
          $ref: '#/components/schemas/LateHits'
        packaging:
          $ref: '#/components/schemas/Packaging'
        replaceEscapedChars:
          type: boolean
    LateHits:
      type: object
      properties:
        enabled:
          type: boolean
        lookback:
          type: integer
          format: int32
    DataFeedList:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataFeedView'
    DataFeedUpdateBody_User:
      type: object
      properties:
        columnPreset:
          type: integer
          format: int32
        notes:
          type: string
        dynamicLookups:
          type: boolean
        replaceEscapedChars:
          type: boolean
        metadata:
          $ref: '#/components/schemas/UpdateMetadata_User'
        schedule:
          $ref: '#/components/schemas/Schedule_User'
        packaging:
          $ref: '#/components/schemas/Packaging_User'
        delivery:
          $ref: '#/components/schemas/Delivery_User'
        lateHits:
          $ref: '#/components/schemas/LateHits_User'
    ExtendedMetadata:
      type: object
      properties:
        feedId:
          type: integer
          format: int32
        feedState:
          type: string
        timeZone:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
        modifiedBy:
          type: string
        modificationDate:
          type: string
        legacyTransport:
          $ref: '#/components/schemas/LegacyTransportConfig'
      description: Extended Metadata for DataFeedExtendedView
    ReportSuiteList_User:
      type: object
      properties:
        rsids:
          type: array
          items:
            type: string
    DataFeedView:
      properties:
        dynamicLookups:
          type: boolean
        schedule:
          $ref: '#/components/schemas/Schedule'
        delivery:
          $ref: '#/components/schemas/Delivery'
        metadata:
          $ref: '#/components/schemas/Metadata'
        columnPreset:
          type: integer
          format: int32
        notes:
          type: string
        feedName:
          type: string
        rsid:
          type: string
        lateHits:
          $ref: '#/components/schemas/LateHits'
        packaging:
          $ref: '#/components/schemas/Packaging'
        replaceEscapedChars:
          type: boolean
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the CJA API](https://developer.adobe.com/cja-apis/docs/getting-started/).
      required: true
      schema:
        type: string
