openapi: 3.2.0
info:
  title: Adobe Analytics 2.0 Component Migration API. Dimensions mappings API
  description: "Adobe Analytics 2.0 Component Migration. Migrate components from Adobe Analytics to Customer Journey Analytics (AA to CJA).\n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  version: '1.0'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Dimensions mappings
  description: Methods to map Analytics dimensions to CJA data views within an XDM schema
paths:
  /mapping/dimensions/csv:
    get:
      tags:
      - Dimensions mappings
      summary: Retrieve dimensions mappings as CSV file
      description: Retrieve CSV file of dimensions mappings for specified *rsid* and *dataId*
      operationId: getMappingsAsCSV_1
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      - name: dimensionIds
        in: query
        description: Filter list to include dimensions mappings for only the specified comma-delimited list of dimension IDs
        schema:
          type: string
      responses:
        '200':
          description: Dimensions mappings retrieved successfully
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/Response'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
    put:
      tags:
      - Dimensions mappings
      summary: Update dimensions mappings with CSV file
      description: Update CSC file of dimensions mappings for specified *rsid* and *dataId*
      operationId: updateMappingByCSV_1
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
      responses:
        '200':
          description: Dimensions mappings updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingDto'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
    post:
      tags:
      - Dimensions mappings
      summary: Create dimensions mappings with CSV file
      description: Upload CSV file of dimensions mappings to override existing mappings for specified *rsid* and *dataId*
      operationId: createMappingByCSV_1
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
      responses:
        '200':
          description: Dimensions mappings created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingDto'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
  /mapping/dimensions/all:
    delete:
      tags:
      - Dimensions mappings
      summary: Delete all dimensions mappings
      description: Delete all dimensions mappings for the specified report suite and data view IDs. If there are no mappings, this will return a successful response.
      operationId: deleteAllMappings_1
      parameters:
      - name: rsid
        in: query
        description: '*rsid* in Analytics'
        required: true
        schema:
          type: string
      - name: dataId
        in: query
        description: Data ID in CJA
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dimensions mappings deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteControllerResponse'
      security:
      - x-gw-ims-org-id: []
      - x-user-auth: []
components:
  schemas:
    DeleteControllerResponse:
      properties:
        result:
          type: string
          enum:
          - success
          - failure
          - partialSuccess
        method:
          type: string
        message:
          type: string
    FieldMappingDto:
      properties:
        cjaId:
          type: string
        dataId:
          type: string
        xdmMapped:
          type: boolean
        aaId:
          type: string
        rsid:
          type: string
        xdmNotes:
          type: string
    Response:
      type: string
      format: binary
  securitySchemes:
    x-service-auth:
      type: apiKey
      description: IMS service token
      name: x-service-auth
      in: header
    x-gw-ims-org-id:
      type: apiKey
      description: Gateway IMS Org ID
      name: x-gw-ims-org-id
      in: header
    x-proxy-global-company-id:
      type: apiKey
      description: Global Company ID
      name: x-proxy-global-company-id
      in: header
    x-user-auth:
      type: apiKey
      description: IMS user token
      name: x-user-auth
      in: header
