openapi: 3.1.0
info:
  title: Adobe Analytics Annotations Server Call Estimate API
  description: The Adobe Analytics 2.0 APIs provide programmatic access to data, reports, and administration features within Adobe Analytics. You can perform almost any action available in the Analytics user interface, including reporting, segment management, calculated metrics, dimensions, and component administration.
  version: '2.0'
  contact:
    name: Adobe Analytics Support
    url: https://developer.adobe.com/analytics-apis/docs/2.0/support/
  termsOfService: https://www.adobe.com/legal/terms.html
  x-last-validated: '2026-04-18'
servers:
- url: https://analytics.adobe.io/api/{globalCompanyId}
  description: Adobe Analytics Production API
  variables:
    globalCompanyId:
      description: The global company ID for your Adobe Analytics organization
      default: YOUR_GLOBAL_COMPANY_ID
security:
- bearerAuth: []
  apiKey: []
tags:
- name: Server Call Estimate
  description: Estimate the scope and cost of a repair job
paths:
  /{rsid}/serverCallEstimate:
    get:
      operationId: getServerCallEstimate
      summary: Adobe Analytics Get Server Call Estimate
      description: Calculates the number of data rows that would be scanned for a repair job given the specified report suite and date range. This estimate is required before creating a repair job and returns a validationToken that must be passed to the job creation endpoint. The count determines the cost of the repair.
      tags:
      - Server Call Estimate
      parameters:
      - $ref: '#/components/parameters/rsidPath'
      - name: dateRangeStart
        in: query
        required: true
        description: Start of the date range for the repair in ISO 8601 format (YYYY-MM-DD)
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: dateRangeEnd
        in: query
        required: true
        description: End of the date range for the repair (inclusive) in ISO 8601 format (YYYY-MM-DD)
        schema:
          type: string
          format: date
        example: '2026-01-15'
      responses:
        '200':
          description: Server call estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCallEstimate'
              examples:
                Getservercallestimate200Example:
                  summary: Default getServerCallEstimate 200 response
                  x-microcks-default: true
                  value:
                    reportSuiteId: '500123'
                    dateRangeStart: '2026-01-15'
                    dateRangeEnd: '2026-01-15'
                    serverCallEstimate: 10
                    validationToken: CAUQAA
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getservercallestimate400Example:
                  summary: Default getServerCallEstimate 400 response
                  x-microcks-default: true
                  value:
                    errorCode: example_value
                    errorDescription: example_value
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getservercallestimate401Example:
                  summary: Default getServerCallEstimate 401 response
                  x-microcks-default: true
                  value:
                    errorCode: example_value
                    errorDescription: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ServerCallEstimate:
      type: object
      description: Estimate of server calls for a proposed data repair job
      properties:
        reportSuiteId:
          type: string
          description: The report suite ID for the estimate
          example: '500123'
        dateRangeStart:
          type: string
          format: date
          description: Start date of the repair range
          example: '2026-01-15'
        dateRangeEnd:
          type: string
          format: date
          description: End date of the repair range
          example: '2026-01-15'
        serverCallEstimate:
          type: integer
          description: Estimated number of server calls (rows) that will be scanned
          example: 10
        validationToken:
          type: string
          description: Token required when creating the repair job
          example: CAUQAA
    ErrorResponse:
      type: object
      description: Error response from the API
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
          example: example_value
        errorDescription:
          type: string
          description: Human-readable error message
          example: example_value
  parameters:
    rsidPath:
      name: rsid
      in: path
      required: true
      description: The report suite ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token from Adobe IMS
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe Developer Console API key
externalDocs:
  description: Adobe Analytics 2.0 API Documentation
  url: https://developer.adobe.com/analytics-apis/docs/2.0/
