openapi: 3.2.0
info:
  title: Report Suite Collections Suites API
  description: 'Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes.'
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Collections Suites
paths:
  /{globalCompanyId}/reportsuites/collections/suites/{rsid}:
    get:
      tags:
      - Collections Suites
      summary: Retrieves a single suite by ID
      operationId: getSuite_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: expansion
        in: query
        description: Comma-delimited list of additional suite metadata fields to include on response
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - parentRsid
            - currency
            - calendarType
            - timezoneZoneinfo
      - name: rsid
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Could not find the suite for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Unexpected error; suite retrieval failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
  /{globalCompanyId}/reportsuites/collections/suites:
    get:
      tags:
      - Collections Suites
      summary: Retrieves many report suites using the given search criteria
      operationId: getSuites_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: limit
        in: query
        description: Number of results per page
        schema:
          type: string
          default: '10'
      - name: page
        in: query
        description: Page number (base 0 - first page is "0")
        schema:
          type: string
          default: '0'
      - name: expansion
        in: query
        description: Comma-delimited list of additional suite metadata fields to include on response
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - parentRsid
            - currency
            - calendarType
            - timezoneZoneinfo
      - name: rsids
        in: query
        description: Filter list to only include suites in this RSID list (comma-delimited)
        schema:
          type: string
      - name: rsidContains
        in: query
        description: Filter list to only include suites whose rsid contains rsidContains.
        schema:
          type: string
      responses:
        '500':
          description: Unexpected error; report suite retrieval failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suite'
components:
  schemas:
    Suite:
      properties:
        calendarType:
          $ref: '#/components/schemas/CalendarSettings'
        rsid:
          title: Report suite ID
          type: string
        parentRsid:
          title: Parent report suite ID for virtual report suite
          type: string
        name:
          title: Suite name
          type: string
        timezoneZoneinfo:
          title: Suite friendly timezone name
          type: string
        currency:
          title: Suite currency
          type: string
        id:
          title: Suite id
          type: string
    CalendarSettings:
      properties:
        rsid:
          type: string
        anchorDate:
          type: string
          format: date-time
        type:
          type: string
          enum:
          - GREGORIAN
          - NRF
          - QRS
          - CUSTOM_454
          - CUSTOM_445
          - MODIFIED_GREGORIAN
          - CUSTOM_544
    AnalyticsAsrErrorResponse:
      properties:
        errorDescription:
          type: string
        errorCode:
          type: string
        errorId:
          type: string
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the CJA API](https://developer.adobe.com/cja-apis/docs/getting-started/).
      required: true
      schema:
        type: string
