openapi: 3.1.0
info:
  title: Adobe Analytics Annotations Dimensions API
  description: The Adobe Analytics 2.0 APIs provide programmatic access to data, reports, and administration features within Adobe Analytics. You can perform almost any action available in the Analytics user interface, including reporting, segment management, calculated metrics, dimensions, and component administration.
  version: '2.0'
  contact:
    name: Adobe Analytics Support
    url: https://developer.adobe.com/analytics-apis/docs/2.0/support/
  termsOfService: https://www.adobe.com/legal/terms.html
  x-last-validated: '2026-04-18'
servers:
- url: https://analytics.adobe.io/api/{globalCompanyId}
  description: Adobe Analytics Production API
  variables:
    globalCompanyId:
      description: The global company ID for your Adobe Analytics organization
      default: YOUR_GLOBAL_COMPANY_ID
security:
- bearerAuth: []
  apiKey: []
tags:
- name: Dimensions
  description: Retrieve available dimensions for a report suite
paths:
  /dimensions:
    get:
      operationId: listDimensions
      summary: Adobe Analytics List Dimensions
      description: Returns all dimensions available in the specified report suite. Each dimension represents a category for grouping and filtering report data, such as page, browser, or custom eVar/prop.
      tags:
      - Dimensions
      parameters:
      - $ref: '#/components/parameters/rsid'
      - $ref: '#/components/parameters/locale'
      responses:
        '200':
          description: List of dimensions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dimension'
              examples:
                Listdimensions200Example:
                  summary: Default listDimensions 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    title: Example Title
                    name: Example Title
                    type: example_value
                    category: example_value
                    description: A sample description.
        '400':
          description: Missing or invalid rsid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Listdimensions400Example:
                  summary: Default listDimensions 400 response
                  x-microcks-default: true
                  value:
                    errorCode: example_value
                    errorDescription: example_value
                    errorId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    locale:
      name: locale
      in: query
      description: The locale for response labels
      schema:
        type: string
        enum:
        - en_US
        - fr_FR
        - jp_JP
        - ja_JP
        - de_DE
        - es_ES
        - ko_KR
        - pt_BR
        - zh_CN
        - zh_TW
    rsid:
      name: rsid
      in: query
      required: true
      description: The report suite ID
      schema:
        type: string
  schemas:
    Dimension:
      type: object
      description: An analytics dimension available in a report suite
      properties:
        id:
          type: string
          description: Dimension ID (e.g. variables/page)
          example: abc123
        title:
          type: string
          description: Display name of the dimension
          example: Example Title
        name:
          type: string
          description: Internal name
          example: Example Title
        type:
          type: string
          description: Dimension data type
          example: example_value
        category:
          type: string
          description: Category grouping for the dimension
          example: example_value
        description:
          type: string
          description: Description of what the dimension tracks
          example: A sample description.
    ErrorResponse:
      type: object
      description: Error response from the API
      properties:
        errorCode:
          type: string
          description: Machine-readable error code
          example: example_value
        errorDescription:
          type: string
          description: Human-readable error message
          example: example_value
        errorId:
          type: string
          description: Unique ID for tracking this error
          example: '500123'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token from Adobe IMS
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe Developer Console API key
externalDocs:
  description: Adobe Analytics 2.0 API Documentation
  url: https://developer.adobe.com/analytics-apis/docs/2.0/
