openapi: 3.2.0
info:
  title: Adobe Analytics 2.0 Data Feed API. Create, update retrieve, and manage data feeds and column presets. Manage API
  description: "Adobe Analytics Data Feed API 2.0\n\n Note: Adobe may add optional request and response members (name/value pairs) to existing API objects at any time and without notice or changes in versioning. Adobe recommends that you refer to the API documentation of any third-party tool you integrate with our APIs so that such additions are ignored in processing if not understood. If implemented properly, such additions are non-breaking changes for your implementation. Adobe will not remove parameters or add required parameters without first providing standard notification through release notes."
  version: v2
servers:
- url: https://analytics.adobe.io/api
tags:
- name: Manage API
  description: API for users to resend, reprocess and redo datafeed requests with a user token
paths:
  /{globalCompanyId}/data_feeds/datafeed/{feedId}/{requestId}/redo:
    put:
      tags:
      - Manage API
      summary: Redo a datafeed by request ID. It first checks if a resend is possible, if not, it reprocesses the request.
      operationId: redoDatafeed_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      - name: requestId
        in: path
        description: The datafeed request ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request - Unable to resend request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while redo datafeed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: The redo request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
  /{globalCompanyId}/data_feeds/datafeed/{feedId}/{requestId}/reprocess:
    put:
      tags:
      - Manage API
      summary: Reprocess a datafeed by request ID
      operationId: reprocessDatafeed_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      - name: requestId
        in: path
        description: The datafeed request ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request - Unable to resend request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while reprocess datafeed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: The reprocess request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
  /{globalCompanyId}/data_feeds/datafeed/{feedId}/{requestId}/resend:
    put:
      tags:
      - Manage API
      summary: Resend a data feed by request ID
      operationId: resendDatafeed_1
      parameters:
      - name: globalCompanyId
        in: path
        description: The Global Company ID for the Adobe Analytics organization
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authorization'
      - $ref: '#/components/parameters/x-api-key'
      - name: feedId
        in: path
        description: The feed ID
        required: true
        schema:
          type: integer
          format: int32
      - name: requestId
        in: path
        description: The datafeed request ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request - Unable to resend request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '404':
          description: Datafeed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '500':
          description: Error occurred while resending datafeed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAsrErrorResponse'
        '200':
          description: The resend request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeedView'
components:
  schemas:
    Schedule:
      type: object
      properties:
        startDate:
          type: string
        endDate:
          type: string
        interval:
          type: string
        delay:
          type: integer
          format: int32
    DataFeedView:
      properties:
        dynamicLookups:
          type: boolean
        schedule:
          $ref: '#/components/schemas/Schedule'
        delivery:
          $ref: '#/components/schemas/Delivery'
        metadata:
          $ref: '#/components/schemas/Metadata'
        columnPreset:
          type: integer
          format: int32
        notes:
          type: string
        feedName:
          type: string
        rsid:
          type: string
        lateHits:
          $ref: '#/components/schemas/LateHits'
        packaging:
          $ref: '#/components/schemas/Packaging'
        replaceEscapedChars:
          type: boolean
    Delivery:
      type: object
      properties:
        cloudLocationUUID:
          type: string
        notificationEmail:
          type: array
          items:
            type: string
    Packaging:
      type: object
      properties:
        type:
          type: string
        chunkSize:
          type: integer
          format: int32
        compression:
          type: string
        manifest:
          type: string
        noDataManifest:
          type: boolean
    AnalyticsAsrErrorResponse:
      properties:
        errorDescription:
          type: string
        errorCode:
          type: string
        errorId:
          type: string
    LateHits:
      type: object
      properties:
        enabled:
          type: boolean
        lookback:
          type: integer
          format: int32
    Metadata:
      type: object
      properties:
        feedId:
          type: integer
          format: int32
        feedState:
          type: string
        timeZone:
          type: string
        createdBy:
          type: string
        creationDate:
          type: string
        modifiedBy:
          type: string
        modificationDate:
          type: string
      description: Metadata for DataFeedView
  parameters:
    authorization:
      name: Authorization
      in: header
      description: The access token copied from your AA API client integration, prefixed with "Bearer ".
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: The API key copied from your AA API client integration. For more information on how to obtain this value, see [Getting started with the CJA API](https://developer.adobe.com/cja-apis/docs/getting-started/).
      required: true
      schema:
        type: string
